.messageHolder {
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wallholder {
	margin-top: 54px;
}

#menu div {
	display:inline-block;
	cursor:pointer;
}

#main hr {
	margin-bottom: 25px;
	margin-top: 25px;
}

#profileview input {
	margin-bottom: 5px;
	margin-top: 5px;
}

#profileview button {
	margin-bottom: 5px;
	margin-top: 5px;
}


#menu {
    background-color: white;
    padding: 10px;
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;
}

#profileview {
    display:none;
    margin: auto;
    width: 500px;
}

#logout {
	float:right;
}

#home_view {
    display:block;
}
#browse_view {
    display:none;
}
#account_view {
    display:none;
}


#userinfo {
width: 250px;
	
}

#wall_holder {
    width: 1000px;
    margin: auto;
}

#loginview {
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	width:600px;
	height:400px;
	text-align:center;
}


#loginview .leftcol {
    width: 90px;
}

.table {
padding:10px;
}
.row {
    width: 100%;
    display: table-row;
	text-align: left;
}
.leftcol {
    padding: 2px;
    display: table-cell;
	padding-left: 10px;
}

.rightcol {
    display: table-cell;
    padding: 2px;
	padding-right: 10px;
}

.rightcol button {
    margin-right: 5px;
    margin-top: 5px;
}

.imageholder {
    background-color: white;
    min-height: 100%;
    height: 400px;
    background-image: url(wimage.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.signinholder {
    background-color: white;
    width: 295px;
    height: 95px;
    margin-left: 10px;
    position: absolute;
	   
}

#msg {
    margin: auto;
    text-align: center;
    max-width: 500px;
}


#signupform {
    margin-top: 32px;
}

.signupholder {
    background-color: white;
    width: 295px;
    height: 295px;
    margin-left: 10px;
    position: absolute;
    margin-top: 105px;
}


.leftpanel {
    width: 50%;
    height: 100%;
    margin: auto;
	float:left;
}


.rightpanel {
    width: 50%;
    height: 100%;
    margin: auto;
	float:left;
}


body {
background-color:#e8e8e8;
}

